<!DOCTYPE html>
<html lang="en">
<head>
  {{>bootstrap}}
  <title>Sign Up</title>
</head>
<body>
  <div class="container pt-3">
    <h1 class="text-center mb-3">Sign Up</h1>
    <form class="form-group w-50 mx-auto">
      <input type="text" name="name" id="name" class="form-control mb-3" placeholder="name" autocomplete="off">
      <input type="email" name="email" id="email" class="form-control mb-3" placeholder="email" autocomplete="off">
      <input type="password" name="password" id="password" class="form-control mb-3" placeholder="password">
      <button type="submit" class="btn btn-sm btn-warning">Register</button>
    </form>
  </div>
</body>
  <script src="signup.js"></script>
</html>